DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,91.107.155.215
DJANGO_CSRF_TRUSTED_ORIGINS=http://91.107.155.215
DATABASE_URL=postgresql://citybeach:change-me@db:5432/citybeach
POSTGRES_DB=citybeach
POSTGRES_USER=citybeach
POSTGRES_PASSWORD=change-me
APP_PORT=8022
CITYBEACH_OWNER_PASSWORD=change-me
CITYBEACH_STAFF_PASSWORD=change-me
CITYBEACH_CUSTOMER_PASSWORD=change-me
